/* COLORS */

:root {
  --dracula-function: #50FA7B;
  --dracula-function-decorator: #50FA7B;
  --dracula-function-parameter: #FFB86C;
  --dracula-punctuation: #F8F8F2;
  --dracula-variable: #F8F8F2;
  --dracula-string: #F1FA8C;
  --dracula-keyword: #FF79C6;
  --dracula-comment: #6272A4;
  --dracula-file-header: #8BE9FD;
  --dracula-class-type: #8BE9FD;
  --dracula-constant: #BD93F9;
  --dracula-background: #282A36;
}
